<html>
<head>
    <title>Game</title>
</head>
<body>
    <form action="/madlib">
        Name: <input type="text" name="name"><br>
        Pick a color:
        <select name="color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
        </select><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adj"><br>
        Time of day:
        <input type="radio" name="time" value="morning">morning
        <input type="radio" name="time" value="afternoon">afternoon
        <input type="radio" name="time" value="evening">evening<br>
        An animal:
        <input type="checkbox" name="animal" value="dog">dog
        <input type="checkbox" name="animal" value="cat">cat
        <input type="checkbox" name="animal" value="hedgehog">hedgehog
        <input type="checkbox" name="animal" value="yak">yak<br>
        <input type="submit" value="Madlibs!">
    </form>
</body>
</html>